html {
  min-height: 100%;
}

body {
    margin:0;
    background: rgb(189,98,180);
    background: linear-gradient(180deg, rgba(189,98,180,1) 0%, rgba(117,61,147,1) 50%, rgba(0,0,92,1) 100%);
    display: flex;
    flex-direction: column;
    color: #FFFFFF;


}

body{height:100vh;}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background: #000247;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center; 
    justify-content: center;
}

header > div{
  flex: 1 1 0px;
  width: 100%;


}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 42px;
    color: #FFFFFF;
    /* padding: 24px; */
    align-self: center;
  }
.title-text {
  padding-left: 20%;
}
.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    /* margin: auto; */
}
.date-name {
  font-weight: 400;

}

.search-box{
  margin: auto;
}


.search-title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.search-input {
  width: 60%;
  padding: 12px 24px;
  margin: auto;
  margin-left: 20%;
  background-color: #FFFFFF;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
}

.search-input::placeholder {
      color: rgba(87, 87, 86, 0.8);
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }

  .search-input:focus {
      outline: 0;
  }

  main{

    width: 60%;
    height: 80vh;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
  }

  .city{
    background-image: url(Images/Chennai-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    
  }

  .city-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: -10%;
  }

  .city-temp{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 5vw;
    line-height: 112px;
    margin-top: 10vh;
    color: #FFFFFF;
  }

  .city-weather{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 2.2vw;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1vh;

  }

  .city-details{
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 1vw;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    margin-top: 5vh;
    }

  .city-humidity{
    width: calc(100% / 2);

  }

  .city-humidity > div {
    margin-left: 8vw;

  }

  #humidity{
    margin-top: 1vh;
  }

  .city-wind-speed{
    border-left: 1px solid; 
    width: calc(100% / 2);

  }

  .city-wind-speed > div{
    margin-right: 8vw;
  }

  #wind-speed{
    margin-top: 1vh;
  }

  .city-name{
    width: 60%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    margin-top: 5%;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-right: -10%;
  }
.city-underline {
    background-color:  white;
    border-radius: 15px;
    margin-top: 1vh;
    width: 100px;
    height: 5px;
    align-self: center;
}

  .forecast{
    display: flex;
    flex: 1;
    color: #575756;
  }

  .forecast > div {
    width: calc(100% / 5);
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 28px;
    letter-spacing: 0.1em;
  }

  .weather-icon {
    width: 60%;
    height: auto;
  }

  .day{
    display: flex;
    flex-direction: column;
  }

  .day > * {
    height: calc(100% / 3);
    align-self: center;

  }

  .day-name > div {
      margin-top: 5vh;
  } 

  .day-temp {
    margin-top: 2vh;
  }

  /* .day > div {
    margin-top: 1vh;
  } */

  @media (max-width: 800px) {
    header {
      flex-direction: column;
    }
  }