body {
    margin:0;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    margin:0;
    padding:0;
    left: 0px;
    top: 0px;
    background: #000247;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > div{
    flex: 50%;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: left;
    padding: 24px;
    padding-left: 80px;
}

.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
    margin: auto;
}


  input[type="search"] {
    border: none;
    background: #FFFFFF;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: 25px;
  }
  
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
.search-bar {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
   border: none;
   padding: 0;
   margin: auto;
   margin: auto;
  }
  
  input.search-bar {
    border: 1px solid #555;
    width: 60%;
    height: 70%;
    padding: 9px 4px 9px 40px;
    margin: auto;
    margin: auto;
     background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }